@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Mukta', sans-serif;
}

body{
    display: grid;
    place-content: center;
    background-color: rgb(25, 75, 98);
}
h1{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ffff;

}
input{
    color: rgb(91, 91, 200);
    height: 30px;
}
.aplicationMain{
    margin: 150px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 100px;
    width: 900px;
    background-color: rgb(14, 124, 128);
    padding: 20px;
    border-radius: 10px;
}
.formulario{
    display: grid;
    gap: 30px;
}
.botonSend{
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: rgb(91, 91, 200);
    display: grid;
    place-items: center;
    border-radius: 10px;
}
.done{
    margin-bottom: 100px;
}
.marcado{
    text-decoration: line-through;
}
.todoListContainer{
    font-size: 20px;
}
.todoListContainer input{
    height: 25px;
    width: 20px;
}